{% load static %}

<!doctype html>
<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bierguru - voor nuchter advies</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'bierguru/css/chat.css' %}" />
  </head>
  <body>
    {% csrf_token %}
    <header class="app-header">
      <h1>🍺 Bierguru</h1>
    </header>

    <div class="card">
      <div id="chat"></div>

      <div class="row">
        <input
          id="msg"
          type="text"
          placeholder="Vraag het bierguru 🍺"
        />
        <button id="send" type="button">Verzenden</button>
      </div>
    </div>
    <script src="{% static 'bierguru/js/chat.js' %}"></script>
  </body>
</html>
